.cards {
    margin: 0;
    display: flex;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    text-align: left;
}

.cards.cards-single {
    display: inline-block;
}

.cards > div {
    width: 100%;
}

.cards .cards-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ddd;
    cursor: pointer;
    overflow: hidden;
}

.cards .cards-card:hover {
    background-color: #ccc;
}

.related.cards.cards-single .cards-card {
    width: 100%;
}

.cards .cards-card.cards-card-one {
    background-color: #e7f1d0;
}

.cards .cards-card.cards-card-one:hover {
    background-color: #d7eba9;
}

.cards .cards-cardcards-card-two {
    background-color: #e8e8e8;
}

.cards .cards-card.cards-card-two:hover {
    background-color: #d6d6d6;
}

.cards .cards-card.cards-card-three {
    background-color: #e3ef6e;
}

.cards .cards-card.cards-card-three:hover {
    background-color: #d4e347;
}

.cards .cards-card.cards-card-four {
    background-color: #dff3fc;
}

.cards .cards-card.cards-card-four:hover {
    background-color: #caf2fc;
}

.cards .cards-card.cards-card-five {
    background-color: #faee73;
}

.cards .cards-card.cards-card-five:hover {
    background-color: #f2e54e;
}

.cards .cards-card.cards-card-six {
    background-color: #e5f7f5;
}

.cards .cards-card.cards-card-six:hover {
    background-color: #c8f7f2;
}

.haematology .cards .cards-card.cards-card-one {
    background-color: #e6ccdc;
}

.haematology .cards .cards-card.cards-card-one:hover {
    background-color: #d5bacb;
}

.cards .cards-card > a:any-link {
    color: currentcolor;
    text-decoration: none;
    font-size: var(--body-font-size-m);
} 

.cards .cards-card-details {
    padding: 30px;
    font-size: var(--body-font-size-s);
}

.cards .cards-card-details p {
    clear: left;
}

.cards .cards-card-details p:first-of-type {
    width: 60px;
    height: 80px;
    margin: 5px 20px 0 0;
    float: left;
}

.cards .cards-card-details p:last-of-type {
    margin-bottom: 0;
}

.cards .cards-card-details h2 {
    margin-top: 0;
    font-family: var(--body-font-family);
    font-size: 30px;
    color: var(--fg-color-dark-blue);
}

.cards .cards-card-details a:any-link {
    color: var(--fg-color-dark-blue);
    text-decoration: none;
    font-size: var(--body-font-size-m);
    font-weight: 700;
    display: block;
} 

.cards .cards-card-details a:any-link::after {
    content: 'â¯';
    margin-left: 10px;
}

@media (min-width: 900px) {
    .cards {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cards > div {
        width: calc((100% / 2) - 10px);
    }
}

@media (min-width: 1200px) {
    .cards:not(.cards-fifty-fifty,.cards-single) > div {
        width: calc((100% / 3) - 14px);
    }
}

/* theme-specific styles */
.hub main .section.cards-container {
    background: none;
    padding: 0;
}

.haematology .cards .cards-card-details h2 {
    font-family: var(--accent-font-family);
    font-weight: 400;
    color: var(--graphite-100);
}

.haematology .cards .cards-card-details a:any-link {
    color: var(--magenta-100);
}
