.cards {
    margin: 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: left;
}

.cards.cards-single {
    justify-content: center;
}

.cards > div {
    width: 100%;
}

.cards .cards-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ddd;
    cursor: pointer;
    overflow: hidden;
}

.cards .cards-card:hover {
    background-color: #ccc;
}

.cards.cards-single .cards-card {
    width: 100%;
}

.cards .cards-card.cards-card-one {
    background-color: #e7f1d0;
}

.cards .cards-card.cards-card-one:hover {
    background-color: #d7eba9;
}

.cards .cards-cardcards-card-two {
    background-color: #e8e8e8;
}

.cards .cards-card.cards-card-two:hover {
    background-color: #d6d6d6;
}

.cards .cards-card.cards-card-three {
    background-color: #e3ef6e;
}

.cards .cards-card.cards-card-three:hover {
    background-color: #d4e347;
}

.cards .cards-card.cards-card-four {
    background-color: #dff3fc;
}

.cards .cards-card.cards-card-four:hover {
    background-color: #caf2fc;
}

.cards .cards-card.cards-card-five {
    background-color: #faee73;
}

.cards .cards-card.cards-card-five:hover {
    background-color: #f2e54e;
}

.cards .cards-card.cards-card-six {
    background-color: #e5f7f5;
}

.cards .cards-card.cards-card-six:hover {
    background-color: #c8f7f2;
}

.cards .cards-card > a:any-link {
    color: currentcolor;
    text-decoration: none;
    font-size: var(--body-font-size-m);
} 

.cards .cards-card-details {
    padding: 30px;
    font-size: var(--body-font-size-s);
}

.cards .cards-card-details p {
    clear: left;
}

.cards .cards-card-details p:first-of-type {
    width: 60px;
    height: 80px;
    margin: 5px 20px 0 0;
    float: left;
}

.cards .cards-card-details p:last-of-type {
    margin-bottom: 0;
}

.cards .cards-card-details h2 {
    margin-top: 0;
    font-family: var(--body-font-family);
    font-size: 30px;
    color: var(--fg-color-dark-blue);
}

.cards .cards-card-details a:any-link {
    color: var(--fg-color-dark-blue);
    text-decoration: none;
    font-size: var(--body-font-size-m);
    font-weight: 700;
    display: block;
} 

.cards .cards-card-details a:any-link::after {
    content: '❯';
    margin-left: 10px;
}

/* blue cards */ 

.cards.blue .cards-card {
    background-color: #eaf9ff;
}

.cards.blue .cards-card:hover {
    background-color: #eaf9ff;
}

.cards.blue .cards-card-details {
    padding: 0;
}

.cards.blue .cards-card-details > *:not(p:first-child) {
    margin: 20px;
}

.cards.blue .cards-card-details > p:first-child {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #00acea;
    width: 100%;
    height: 140px;
    float: none;
}

.cards.blue .cards-card-details > p:first-child img {
    width: unset;
}

.cards.blue .cards-card-details > p:last-child {
    padding: 0 20px 20px;
}

@media (min-width: 900px) {
    .cards {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cards:not(.cards-single) > div {
        width: calc((100% / 2) - 10px);
    }
}

@media (min-width: 1200px) {
    .cards:not(.cards-fifty-fifty,.cards-single) > div {
        width: calc((100% / 3) - 14px);
    }
}

/* theme-specific styles */
.hub main .section.cards-container {
    background: none;
    padding: 0;
}

.haematology .cards .cards-card-details h2 {
    font-family: var(--accent-font-family);
    font-weight: 400;
    color: var(--graphite-100);
}

.haematology .cards .cards-card-details a:any-link {
    color: var(--magenta-100);
}

.haematology .cards .cards-card.cards-card-one {
    background-color: var(--purple-20);
}

.haematology .cards .cards-card.cards-card-two {
    background-color: var(--purple-20);
}

.haematology .cards .cards-card.cards-card-three {
    background-color: #f6cce2;
}

.haematology .cards .cards-card.cards-card-four {
    background-color: #fceecc;
}

.haematology .cards .cards-card.cards-card-five {
    background-color: #e1f6f9;
}

.haematology .cards .cards-card.cards-card-six {
    background-color: #d8cfdd;
}

.breast-cancer .cards-blue-container .cards-card .cards-card-details {
    --light-bg: var(--bg-color-accent-100);
    --dark-bg: var(--bg-color-accent-800);
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container
    .cards-wrapper) {
    margin: 40px auto;
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card {
    cursor: auto;
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-bg, var(--purple-20));
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > * {
    box-sizing: border-box;
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > :first-child {
    margin: 0;
    padding: 20px;
    width: 80px;
    height: 80px;
    background-color: var(--dark-bg, var(--purple-100));
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > :first-child
  picture {
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > :first-child
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > :nth-child(2) {
    margin: 0;
    width: calc(100% - 80px);
    height: 80px;
    font-size: 1.25rem;
    background-color: var(--dark-bg, var(--purple-100));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > :nth-child(n+3) {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 25px;
    width: 100%;
    font-size: 1.125rem;
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > :nth-child(3) {
    padding-top: 45px;
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > :last-child {
    padding-bottom: 45px;
    margin: 0;
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > ul:nth-child(n+3) {
    padding-left: calc(25px + 1rem);
}

:is(.haematology.study .cards.cards-fifty-fifty, .breast-cancer
    .cards-blue-container)
  .cards-card
  .cards-card-details
  > ul:nth-child(n+3) li::marker {
    color: var(--dark-bg, var(--purple-100));
}
