main .section.accordion-container {
    padding: 0 30px;
}
  
.accordion {
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
}

.accordion-item-title {
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    padding: 30px 0;
    border-bottom: solid 1px #e1eff8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-segment:last-of-type > .accordion-item-title {
    border-bottom: none;
}

.accordion-item-title::after {
    color: #D1016F;
    content: "+";
    font-size: 40px;
    line-height: 40px;
}

.accordion-segment.accordion-open > .accordion-item-title::after {
    content: "–";
}

.accordion-item-content {
    display: none;
}

.accordion-item-content ul {
    padding: 30px;
    padding-inline-start: 60px;
    background-color: #f2f9fc;
}

.accordion-item-content li {
    padding: 10px;
}

p.accordion-image-only {
    text-align: center;
}

.accordion-segment.accordion-open .accordion-item-content {
    display: block;
}

@media (min-width: 900px) {
    .accordion-item-content {
        padding: 30px;
    }
}