main .breadcrumbs {
  font-family: var(--heading-font-family);
  margin: 20px 0;
}

main .breadcrumbs a:any-link {
  color: currentcolor;
}

main .breadcrumbs .breadcrumbs-separator {
  padding: 8px;
}

main .breadcrumbs .breadcrumbs-separator::before {
  content: "|";
}