main .section.breadcrumbs-container {
  padding: 0;
  background: none;
}

main .breadcrumbs {
  font-family: var(--accent-font-family);
  padding: 20px 0;
  margin: 0;
}

main .breadcrumbs a:any-link {
  text-decoration: underline;
  color: currentcolor;
}

main .breadcrumbs .breadcrumbs-separator {
  padding: 8px;
}

main .breadcrumbs .breadcrumbs-separator::before {
  content: "|";
}

/* theme: study */
.study main .breadcrumbs {
  padding: 20px 46px;
  margin: 0;
}

@media (min-width: 900px) {
  .study main .breadcrumbs {
    margin-left: 0;
  }  
}