/* header and nav layout */
header {
  font-family: lexia, sans-serif;
}

header .header {
  position: absolute;
}

header .nav {
  font-family: var(--body-font-family);
  align-items: center;
  padding: 0 20px;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  font-size: 18px;
}

header .nav[aria-expanded='true'] {
  min-height: 100vh;
  background-color: var(--white);
}

/* hamburger */
header .nav-hamburger {
  height: 24px;
  padding-top: 6px;
  cursor: pointer;
}

header .nav[aria-expanded='true'] .nav-hamburger {
  width: 100vw;
  background-color: var(--white);
}

header .nav[aria-expanded='false'] .nav-hamburger-icon,
header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: "";
  position: absolute;
  top: -6px;
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header .nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header .nav[aria-expanded='true'] .nav-hamburger-icon::after,
header .nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentcolor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header .nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* sections */
header .nav-sections {
  display: none;
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
}

header .nav-sections h2 {
  margin-top: 0;
  font-size: 22px;
  font-weight: 600;
}

header .nav-sections ul {
  list-style: none;
  width: calc(100% - 20px);
  padding-left: 0;
  margin: 0;
} 

header .nav-sections li {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

header .header .nav > .nav-sections > .nav-section > ul > li:nth-of-type(1) a:hover {
  background-color: transparent;
}

header .nav[aria-expanded='true'] .nav-sections {
  display: block;
}

/* section */
header .nav-section .nav-section[aria-expanded='false'] {
  display: none;
}

/* nav items */
header a.nav-item {
  background-position: 16px 12px;
  background-repeat: no-repeat;
}

header a.nav-item:any-link {
  display: block;
  padding: 8px 16px 8px 46px;
  text-decoration: none;
  border-radius: 30px;
}

header a.nav-item.nav-item-active,
header a.nav-item:hover {
  background-color: #d9f3fd;
}

header a.nav-item-home {
  font-size: 0;
  margin-left: 10px;
  display: block;
  height: 100px;
  background: url('/icons/astrazeneca.svg') left center no-repeat;
}

header a.nav-item-breast-cancer-hub {
  background-image: url('/icons/nav-study-breast-cancer.svg');
}

header a.nav-item-introduction {
  background-image: url('/icons/nav-study-introduction.svg');
}

header a.nav-item-study-design {
  background-image: url('/icons/nav-study-design.svg');
}

header a.nav-item-results {
  background-image: url('/icons/nav-study-results.svg');
}

header a.nav-item-conclusions {
  background-image: url('/icons/nav-study-conclusions.svg');
}

header a.nav-item-characteristics {
  background-image: url('/icons/nav-study-characteristics.svg');
}

header a.nav-item-risk-in-patients {
  background-image: url('/icons/nav-study-risk.svg');
}

header a.nav-item-monitoring-and-management {
  background-image: url('/icons/nav-study-monitoring.svg');
}

header a.nav-item-case-study {
  background-image: url('/icons/nav-study-case-study.svg');
}

/* sub sections */
header a.nav-item + .nav-section a.nav-item:any-link {
  padding: 8px 16px;
  text-decoration: none;
}

header a.nav-item + .nav-section li {
  font-weight: 400;
}

@media (min-width: 600px) {
  header .nav {
    padding-left: 60px;
  }
}

/* desktop nav styles */
@media (min-width: 900px) {
  header .nav {
    position: fixed;
    display: grid;
    grid-template-areas:
      "nav"
      "toggle";
    padding: 0;
    width: 260px;
    height: fit-content;
  }

  header .nav[aria-expanded='true'] {
    min-height: unset;
  }

  header .nav[aria-expanded='false'] {
    width: 53px;
  }

  header .nav-hamburger {
    grid-area: toggle;
    padding: 12px 0 10px;
    background: #dbf5ff url('/icons/arrow-left.svg') right 16px center no-repeat;
  }

  header .nav[aria-expanded='true'] .nav-hamburger {
    width: 100%;
    background-color: #dbf5ff;
  }

  header .nav[aria-expanded='false'] .nav-hamburger {
    transform: scale(-1);
    background-color: #dbf5ff;
    background-position: right 12px center;
    width: 100%;
  }

  header .nav-hamburger-icon {
    display: none !important;
  }

  header .nav-sections {
    display: block;
    width: unset;
    height: unset;
    padding-bottom: 16px;
  }

  header .nav[aria-expanded='false'] .nav-sections {
    width: 53px;
  }

  header .nav-section li {
    font-size: 18px;
    padding: 16px 16px 0;
  }

  header .nav[aria-expanded='false'] li {
    padding-left: 0;
    overflow-x: hidden;
  }

  header .nav[aria-expanded='false'] a {
    /* hide nav item text */
    font-size: 0;
    line-height: 28px;
    border-radius: 0;
  }

  header .nav[aria-expanded='false'] a.nav-item-home {
    background: url('/icons/astrazeneca-condensed.svg') left center no-repeat;
    height: 60px;
  }

  header .nav-section ul {
    width: 100%;
  }

  header .nav-section .nav-section {
    padding-top: 8px;
  }

  header .nav[aria-expanded='false'] .nav-section .nav-section {
    display: none;
  }

  header .nav-section .nav-section li {
    font-size: 16px;
    padding: 8px 16px;
  }

  header .nav-section li:first-of-type {
    padding-top: 0;
  }

  header .header .nav > .nav-sections > .nav-section > ul > li:nth-of-type(2) {
    padding-bottom: 16px;
    border-bottom: 1px solid #d8dada;
  }
  
  header .nav-sections h2 {
    font-size: 18px;
    margin: 0;
    cursor: pointer;
  }

  header .nav-section[aria-expanded='true'] ul {
    display: block;
  } 
}
