/* block specific CSS goes here */
main .hero {
    padding-top: 60px;
    background-color: var(--white);
    border-radius: 20px;
    position: relative;
}

main .hero::before {
    position: absolute;
    top: 10px;
    content: " ";
    width: 160px;
    height: 39px;
    background-image: url('/icons/astrazeneca.svg');
  }

main .hero-picture-container {
    display: none;
}

main .hero h1 {
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e1eff8;
}

main .hero p:last-of-type {
    margin-bottom: 0;
}

main .hero .hero-shortcuts {
    margin: 0;
    padding: 0;
}

main .hero .hero-shortcuts li {
    list-style: none;
    padding-left: 30px;
    background-image: url('/icons/link-chevron-down.svg');
    background-position: 0 10px;
    background-repeat: no-repeat;
}

main .hero .hero-shortcuts a:any-link {
    font-weight: 700;
    font-size: 20px;
}

main .hero .hero-shortcuts a:hover {
    text-decoration: none;
}

@media (min-width: 1200px) {  
    main .hero-container.hero-has-image,
    main .hero-container.hero-has-image .hero {
        padding: 0;
    }

    main .hero-container.hero-has-image .hero {
        display: flex;
        position: relative;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    main .hero-container.hero-has-image .hero::before {
        left: 90px;
        top: 30px;
    }

    main .hero-container.hero-has-image .hero > div:first-child {
        flex-grow: 1;
        padding: 90px;
    }

    main .hero-container.hero-has-image .hero-picture-container {
        background: #9cb1ac;
        clip-path: circle(626px at 626px);
        flex: 0 0 45%;
        z-index: 1;
        display: block;
        min-width: 40%;
        overflow: hidden
    }

    main .hero-picture-container img {
        text-align: right;
        height: 100%;
        margin-left: 100px;
    }
}

/* theme: hub */
.hub main .hero {
    border-radius: 0;
}

.hub main .hero::before {
    top: 0;
}

.homepage main .hero h1,
.hub main .hero h1 {
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
}

@media (min-width: 900px) {
    .hub main .section.hero-container {
        padding: unset;
    }

    .hub main {
        margin: 0 auto;
    }

    .hub main .hero {
        padding: 80px 80px 30px;
    }

    .hub main .hero::before {
        top: 30px;
    }
}
