.list-box ol {
  display: flex;
  flex-flow: column wrap;
  gap: 0.25rem 1rem;
  align-content: flex-start;
  box-sizing: border-box;
  max-height: auto;

  padding: 1rem;
  background-color: var(--bg-color-accent-100);

  list-style: none;
  counter-reset: list-box;
}

.list-box ol li {
  position: relative;
  padding-left: 3.375rem;
  padding-top: 0.75rem;
  min-height: 2.75rem;

  font-size: var(--body-font-size-m);
  counter-increment: list-box;
}

.list-box ol li::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;

  background-color: var(--bg-color-accent-600);

  content: counter(list-box);
  color: var(--white);
  font-weight: bold;
  line-height: 2.75rem;
  vertical-align: middle;
  text-align: center;
}

.list-box ol :where(sup, sub) {
  font-size: var(--body-font-size-xs);
}

@media (min-width: 1286px) {
  .list-box ol {
    max-height: 17em;
    align-content: space-around;
  }
}
