.haematology .tabs {
  --btn-color: var(--graphite-100);
  --btn-background: var(--purple-20);
  --btn-background-active: var(--purple-80);
  --btn-background-focus: var(--purple-100);
}

.tabs .tabs-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tabs .tabs-menu-button {
  display: inline-block;
  border: none;
  border-radius: 3em;
  font-size: 1rem;
  margin: 0.5em 0.375em;
  min-width: 230px;
  width: auto;
  padding: 18px 30px;
  background-color: var(--btn-background, var(--bg-color-accent-200));
  color: var(--btn-color, --fg-color-dark-blue);
}

.tabs .tabs-menu-button:where(:focus-visible, :hover) {
  background-color: var(--btn-background-focus, var(--fg-color-dark-blue));
  color: #fff;
}

.tabs .tabs-menu-button-active {
  background-color: var(--btn-background-active, var(--bg-color-accent-600));
  color: #fff;
}

.tabs .tabs-menu-button-active:where(:focus-visible, :hover) {
  background-color: var(--btn-background-focus, var(--fg-color-dark-blue));
}

.tabs-tab {
  display: block;
}

.tabs-tab > div:first-child {
  display: none;
}

.tabs-tab-hidden {
  display: none;
}

.tabs-tab .tabs-tab-content p {
  margin: 2.5em 0;
}

.tabs-tab .tabs-tab-content p img {
  box-sizing: border-box;
  min-height: 300px;
  width: 100%;
  max-height: 450px;
  object-fit: contain;
  object-position: center;
}
