main .related-wrapper {
  max-width: 1100px;
}
    
main .related {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-bottom: 20px;
  flex-flow: row nowrap;
}

main .related > div {
  width: 50%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
}

.related.cards .cards-card {
  width: calc(100% / 5 * 4);
  height: auto;
  min-height: 120px;
}

.related.cards .cards-card > a {
  display: flex;
  height: calc(100% - 40px);
  flex-flow: column;
  padding: 20px;
  justify-content: left;
}

.related .cards-card h3 {
  margin-top: 0;
  margin-left: 42px;
  font-size: 24px;
}

.related.cards .cards-card p {
  font-size: 14px;
}

.related.cards .cards-card p:first-child {
  position: absolute;
  margin: 0;
}

.related.cards .cards-card p:first-child img {
  width: 30px;
  height: 30px;
}

.related.cards .cards-card p.related-view-content {
  margin: 0;
  width: 100%;
  vertical-align: bottom;
  flex-grow: 1;
  color: var(--fg-color-link);
  font-size: 16px;
  font-weight: 800;
}

.related.cards .cards-card p.related-view-content::before {
  content: "View Content  â¯";
  position: absolute;
  bottom: 10px;
}

main .related::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #eee; /* or add it to the track */
}

main .related::-webkit-scrollbar-thumb {
  background: #999;
}

@media (min-width: 600px) {
  .related.cards .cards-card {
    width: calc(100% / 2);
  }
}
 
@media (min-width: 900px) {
  main .related > div {
    width: calc(100% / 3);
  }    

  .related.cards.cards-fifty-fifty .cards-card {
    max-width: calc(50% - 10px);
  }
}

@media (min-width: 1200px) {
  main .related.cards:not(.cards-fifty-fifty) .cards-card {
    width: calc(100% / 4);
  }    
}