/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --background-color: #fff;
  --overlay-background-color: #00000020;
  --highlight-background-color: #00000040;
  --text-color: #000;

  /* fonts */
  --body-font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --heading-font-family: var(--body-font-family);
  --accent-font-family: lexia, serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 54px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* astrazeneca colors */
  --bg-color: #f7fafc;
  --fg-color-black: #333;
  --fg-color-dark-blue: #204194;
  --fg-color-link: #204194;
  --graphite-20: #d8dada;
  --graphite-100: #3c4242;
  --magenta-100: #d0006f;
  --magenta-40: #ec99c5;
  --mulberry-20: #e6ccdc;
  --purple-20: #d8cfdd;
  --purple-80: #634075;
  --purple-100: #3c1053;
  --white: #fff;
  --heading-color: #3c4242;
}


html {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);

  /* background-color: #204194; */
  display: none;
}

body.appear {
  display: unset;
}

main {
  margin: 0 20px;
  padding: 0;
}

h1, h2, h3,
h4, h5, h6 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.25;
  margin-top: .5em;
  margin-bottom: .5em;
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--fg-color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main input, main button {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
}

main button {
  color: var(--background-color);
  border: none;
  background-color: var(--link-color);
}

main button:hover {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

main input {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  margin: 0 0 30px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 30px;
}

main .section:empty {
  display: none;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  main {
    margin: 0 60px;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 27px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;  
  }
  
  main {
    width: calc(100% - 180px);
    max-width: 1100px;
    margin: 0 auto;
  }

  .nav-expanded main {
    width: calc(100% - 320px);
    padding-left: 250px;
  }

  main .section {
    padding: 30px 90px;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

main .default-content-wrapper h2 {
  padding-bottom: 40px;
  border-bottom: solid 1px #e1eff8;
  margin-bottom: 40px;
}

/* theme: hub */

:root.homepage,
:root.hub {
  --heading-font-family: var(--accent-font-family);
}

.hub header {
  display: none;  
}


/* theme: study */
.study main h2 {
  font-size: var(--heading-font-size-m);  
}

@media (min-width: 900px) {
  .study header {
    display: unset;
  }

  .study body.nav-expanded main {
    padding-left: 280px;
  }

}

/* theme: homepage */
.homepage main .default-content-wrapper {
  text-align: center;
}

.homepage main .default-content-wrapper ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 20px auto 0;
}

.homepage main .default-content-wrapper li {
  width: 100%;
  display: inline;
}

.homepage main .default-content-wrapper li a {
  background: var(--magenta-100);
  border-radius: 55px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: calc(100% - 60px);
  max-width: 315px;
  padding: 28px 22px;
  text-align: left;
  text-decoration: none;
}

.homepage main .default-content-wrapper li a:hover {
  background: var(--fg-color-dark-blue);
}

@media (min-width: 900px) {
  .homepage main .default-content-wrapper ul {
    flex-direction: row;
    justify-content: center;
  }

  .homepage main .default-content-wrapper li {
    width: 315px;
  }
}
